*.iml
.gradle/
lint.xml
local.properties
.idea/
.DS_Store
*.hprof
node_modules/
versions.properties

build/

dist/
es
coverage/

website/translated_docs/
website/build/
website/node_modules/
website/i18n/*
